<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button color="light"></ion-menu-button>
    </ion-button>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Default Checkbox -->
<ion-checkbox color="success"></ion-checkbox>

<!-- Disabled Checkbox -->
<ion-checkbox disabled="true"></ion-checkbox>

<!-- Checked Checkbox -->
<ion-checkbox checked="true"></ion-checkbox>

<!-- Checkbox Colors -->
<ion-checkbox color="primary"></ion-checkbox>
<ion-checkbox color="secondary"></ion-checkbox>
<ion-checkbox color="danger"></ion-checkbox>
<ion-checkbox color="light"></ion-checkbox>
<ion-checkbox color="dark"></ion-checkbox>

<ion-item>
  <ion-label> Default </ion-label>
  <ion-checkbox color="success"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label> Disabled </ion-label>
  <ion-checkbox disabled="true"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label> Tertiary </ion-label>
  <ion-checkbox color="success"></ion-checkbox>
</ion-item>

<h3>Meses</h3>

<ion-list> 
  <ion-item *ngFor="let mes of meses">
    <ion-label>{{mes.nomeDoMes}}</ion-label>
    <ion-checkbox checked="{{mes.marcado}}" color="success" [(ngModel)]="mes.marcado"></ion-checkbox>
  
  </ion-item>
</ion-list>

  <ion-button expand="block" (click)="exibirMeses()">Exibir meses marcados </ion-button>

</ion-content>
